Source: siemensms
Section: comm
Priority: extra
Maintainer: Jakub Wilk <jwilk@jwilk.net>
Build-Depends: debhelper (>= 7), perl
Standards-Version: 3.8.0
Bugs: mailto:jwilk@jwilk.net

Package: siemensms
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, kawute (>= 0.8), perl (>= 5.10.0), scmxx (>= 0.9)
Description: Send SMs via a Siemens phone
 siemensms allows you to send SMs via a Siemens phone.
 It works with the S25, S35i, M35i and C35i, SL45, S45 and ME45 and
 probably others.
