#!/usr/bin/make -f

configure:
	:

build: siemensms.1
	:

siemensms.1: siemensms
	dh_testdir
	pod2man -c 'siemensms manual' $(<) > $(@)

clean:
	dh $(@)
	dh_clean $(wildcard *.1)

install: build
	dh $(@) --until dh_prep
	dh_install siemensms usr/bin
	sed -i -e 's/kawute/Net::kawute/g' debian/siemensms/usr/bin/*
	dh_installman --language=C $(wildcard *.1)
	dh_installexamples $(wildcard *.conf)
	dh $(@) --remaining

binary-indep: build install
	dh $(@)

binary-arch: build install
	:

binary: binary-indep binary-arch
	:

.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
