#!/usr/bin/make -f

.PHONY: build
build: siemensms.1 ;

siemensms.1: siemensms
	dh_testdir
	pod2man -c 'siemensms manual' $(<) > $(@)

.PHONY: clean
clean:
	dh $(@)
	dh_clean $(wildcard *.1)

.PHONY: install
install: build
	dh $(@) --until dh_prep
	dh_install siemensms usr/bin
	sed -i -e 's/kawute/Net::kawute/g' debian/siemensms/usr/bin/*
	dh_installman --language=C $(wildcard *.1)
	dh_installexamples $(wildcard *.conf)
	dh $(@) --remaining

.PHONY: binary-indep
binary-indep: build install
	dh $(@)

.PHONY: binary-arch
binary-arch: build install ;

.PHONY: binary
binary: binary-indep binary-arch ;

# vim:ts=4 sw=4 noet
